/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 20px;
    color: #333;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .nav-links a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }